<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
        * {
          font-family: "Inter", sans-serif;
          font-optical-sizing: auto;
          font-style: normal;
        }
      </style>
</head>
<body class="flex flex-col justify-between min-h-screen">
    <header class="py-7 border-b px-10 flex justify-between">
        <h1 class="font-semibold">Home</h1>
        <a href="/login" class="py-2 px-4 bg-blue-600 text-white rounded-md">Login</a>
    </header>
    <main class="flex justify-between">
        <section class="py-10 px-10 max-w-[700px]">
            <h2 class="text-2xl font-bold">ANALISIS SENTIMEN MEDIA SOSIAL PENGELOLAAN SAMPAH MENGGUNAKAN ALGORITMA SUPPORT VECTOR MACHINE (SVM)</h2>
            <p class="py-5">Selamat datang di platform analisis sentimen media sosial! Di sini, Anda dapat mempelajari dan menganalisis opini masyarakat tentang pengelolaan sampah melalui data media sosial menggunakan metode Support Vector Machine (SVM). Platform ini membantu mengidentifikasi sentimen positif, negatif, dan netral dari komentar masyarakat untuk memberikan wawasan yang berharga dalam meningkatkan sistem pengelolaan sampah.</p>
            <a href="/login" class="py-2 px-4 bg-blue-600 text-white rounded-md mt-7 inline-block">Masukan ke dashboard!</a>
        </section>
        <section class="hidden md:block" >
            <img src="{{ url_for('static', filename='images/keram.png') }}" alt="">
        </section>
    </main>
    <footer class="py-7 border-t px-10">
        <p>&copy; Copyright 2024</p>
    </footer>
</body>
</html>